.main-nav__list
  display: flex
  justify-content: space-between
  flex-wrap: wrap

.main-nav__item
  margin: 0 5px

.main-nav__link
  color: $light-gray
  text-decoration: none
  font-size: 14px
  line-height: 16px
  text-transform: uppercase
  padding-bottom: 17px
  border-bottom: 1px solid transparent
  transition: all .2s
  &:hover
    color: $red
    border-bottom-color: $red