.blog
  padding: 140px 0
  background-color: $light-gray
  border-top: 1px solid #d8d9db
  +laptop
    padding: 50px 0

.blog__block
  display: flex
  flex-wrap: wrap
  max-width: 1920px
  margin: 60px auto 0
.blog__elem
  flex-basis: 50%
  display: flex
  flex-wrap: wrap
  +laptop
    flex-basis: 100%
    &:nth-of-type(odd)
      .b-item__picture
        order: 2
      .b-item__info
        order: 1
        &::before
          border: 30px solid transparent
          border-left: 25px solid $red
          left: auto
          right: -55px
    &:nth-of-type(even)
      .b-item__picture
        order: 1
      .b-item__info
        order: 2
        &::before
          border: 30px solid transparent
          border-right: 25px solid $red
          left: -55px
          right: auto
  +media(580px)
    &:nth-of-type(odd),&:nth-of-type(even)
      .b-item__picture
        order: 1
        flex-basis: 100%
      .b-item__info
        order: 2
        flex-basis: 100%
        &::before
          display: none
      .b-item__img
        width: auto
        max-width: 100%
        margin: 0 auto
        height: auto



.blog__elem--reverse
  .b-item__picture
    order: 2
  .b-item__info
    order: 1
    &::before
      border-right: 30px solid transparent
      border-left: 25px solid $red
      left: auto
      right: -55px

.b-item__picture
  flex-basis: 50%

.b-item__img
  display: block
  max-width: 100%
  height: 100%
  object-fit: cover
  +laptop
    width: 100%

.b-item__info
  flex-basis: 50%
  padding: 25px 25px 25px 40px
  background-color: $red
  box-sizing: border-box
  position: relative
  color: $white
  text-align: left
  &::before
    content: ''
    border: 30px solid transparent
    border-right: 25px solid $red
    +center(y)
    left: -55px
  +media(1200px)
    padding: 20px 15px

.b-item
  &__text, &__category, &__title
    color: $white
    text-align: left
    margin: 15px 0
    line-height: 30px
  &__text
    font-size: 16px
  &__category
    font-size: 14px
    letter-spacing: .05rem

  &__title
    font-size: 24px
    letter-spacing: .08rem
    font-family: $secondary-font
    font-weight: 600
    text-transform: uppercase

    &::after
      content: ''
      width: 44px
      height: 4px
      display: block
      background-color: $white
      margin-top: 15px

.b-item__btn
  color: $white
  text-decoration: none
  font-size: 18px
  line-height: 24px
  font-weight: 600
  font-style: italic
  cursor: pointer
  margin: 20px 0
  display: inline-block
  +trans
  &:hover
    text-decoration: underline

