extends ../template

block variables
  - var title = 'Home'

block content
  .container#top
    include ../blocks/sec-top
    include ../blocks/sec-advantages
    include ../blocks/sec-history
    include ../blocks/sec-service
    include ../blocks/sec-portfolio
    include ../blocks/sec-case-study
    include ../blocks/sec-statistics
    include ../blocks/sec-pricing
    include ../blocks/sec-team
    include ../blocks/sec-great-integrations
    include ../blocks/sec-blog
