footer.footer
  .wrap.footer__wrap
    .footer__left
      ul.socials
        li.socials__item
          a(href='#').socials__link
            +icon('social')
        li.socials__item
          a(href='#').socials__link
            +icon('social2')
        li.socials__item
          a(href='#').socials__link
            +icon('social3')
        li.socials__item
          a(href='#').socials__link
            +icon('social4')
        li.socials__item
          a(href='#').socials__link
            +icon('social5')
        li.socials__item
          a(href='#').socials__link
            +icon('social6')
    .footer__right
      p.footer__p Kazi Erfan &copy; All Rights Reserved