section.team
  .wrap.team__wrap
    h2.team__title.center-title Our Team
    p.team__text Meet the craziest team. Share your thoughts with them.
    .divider.divider--white
      span
    .team__block
      .team__elem
        .team__img
          img(src='assets/images/team.jpg')
        .team__info.t-info
          p.t-info__name Kazi Erfan
          p.t-info__job UI/UX Designer
      .team__elem
        .team__img
          img(src='assets/images/team2.jpg')
        .team__info.t-info
          p.t-info__name Kazi Erfan
          p.t-info__job UI/UX
      .team__elem
        .team__img
          img(src='assets/images/team3.jpg')
        .team__info.t-info
          p.t-info__name Kazi Erfan
          p.t-info__job UI/UX
      .team__elem
        .team__img
          img(src='assets/images/team4.jpg')
        .team__info.t-info
          p.t-info__name Kazi Erfan
          p.t-info__job UI/UX
      .team__elem
        .team__img
          img(src='assets/images/team5.jpg')
        .team__info.t-info
          p.t-info__name Kazi Erfan
          p.t-info__job UI/UX
