section.great
  .wrap.great__wrap
    h2.great__title.center-title Great integrations with others
    p.great__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, repellat.
    .divider
      span
    .great__block
      .great__elem
        img(src='assets/images/integration.png').great__img
      .great__elem
        img(src='assets/images/integration2.png').great__img
      .great__elem
        img(src='assets/images/integration3.png').great__img
      .great__elem
        img(src='assets/images/integration4.png').great__img
      .great__elem
        img(src='assets/images/integration5.png').great__img
      .great__elem
        img(src='assets/images/integration6.png').great__img
      .great__elem
        img(src='assets/images/integration7.png').great__img
      .great__elem
        img(src='assets/images/integration8.png').great__img
      .great__elem
        img(src='assets/images/integration9.png').great__img
      .great__elem
        img(src='assets/images/integration10.png').great__img
