section.sec-history.wrap
  .sec-history__left
    img(src="assets/images/monitor.png").sec-history__img
  .sec-history__right
    p.sec-history__title.sec-title Our history
    p.sec-history__text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea exercitationem repellendus voluptatem fugiat tempore nulla sint autem distinctio quibusdam optio!
    p.sec-history__text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea exercitationem repellendus voluptatem fugiat tempore nulla sint autem distinctio quibusdam optio!
    a(href="#").sec-history__btn Browse our work
