section.offer
  .wrap.offer__wrap
    h3.offer__title Let's Get Started Now. #[span It's FREE]
    p.offer__text 30 day free trial. Free plan allows up to 2 projects. Pay if you need more. Cancel anytime. No catches.
    a.offer__btn Start free trial
