section.keep
  .wrap.keep__wrap
    h3.center-title.keep__title Keep in touch
    p.keep__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, officiis.
    .divider
      span
    .keep__block
      .keep__left.keep__elem
        .keep__info
          h4.keep__h4 Our address
          p.keep__p House 13, Street road, Sydney 2310 Australia
        .keep__info
          h4.keep__h4 Call us
          p.keep__p +931259315
            br
            | +426354254289
        .keep__info
          h4.keep__h4 Email us
          a(href='mailto:contactus@mail.com').keep__link contactus@mail.com

      .keep__right.keep__elem
        form.keep__form
          .keep__input
            input(type='text', name='name' required)
            label Name
          .keep__input
            input(type='email', name='email' required)
            label Email
          .keep__input
            input(type='text', name='subject' required)
            label Subject
          .keep__textarea
            textarea(name='msg' required)
            label Message
          .keep__button
            button.keep__btn Send message

