section.blog#blog
  h3.blog__title.center-title Our title
  p.blog__text  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
  .divider
    span
  .blog__block
    .blog__elem.b-item
      .b-item__picture
        img(src='assets/images/blog.jpg').b-item__img
      .b-item__info
        p.b-item__category art / t-shirt
        h4.b-item__title T-SHIRT DESIGN
        p.b-item__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem blanditiis dolores eius, esse exercitationem expedita fuga fugiat, hic id impedit iure necessitatibus numquam perspiciatis quaerat sint, temporibus totam veritatis voluptatem.
        a(href='#').b-item__btn Read More >>
    .blog__elem.b-item
      .b-item__picture
        img(src='assets/images/blog2.jpg').b-item__img
      .b-item__info
        p.b-item__category art / t-shirt
        h4.b-item__title T-SHIRT DESIGN
        p.b-item__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem blanditiis dolores eius, esse exercitationem expedita fuga fugiat, hic id impedit iure necessitatibus numquam perspiciatis quaerat sint, temporibus totam veritatis voluptatem.
        a(href='#').b-item__btn Read More >>
    .blog__elem.b-item.blog__elem--reverse
      .b-item__picture
        img(src='assets/images/blog3.jpg').b-item__img
      .b-item__info
        p.b-item__category art / t-shirt
        h4.b-item__title T-SHIRT DESIGN
        p.b-item__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem blanditiis dolores eius, esse exercitationem expedita fuga fugiat, hic id impedit iure necessitatibus numquam perspiciatis quaerat sint, temporibus totam veritatis voluptatem.
        a(href='#').b-item__btn Read More >>
    .blog__elem.b-item.blog__elem--reverse
      .b-item__picture
        img(src='assets/images/blog4.jpg').b-item__img
      .b-item__info
        p.b-item__category art / t-shirt
        h4.b-item__title T-SHIRT DESIGN
        p.b-item__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem blanditiis dolores eius, esse exercitationem expedita fuga fugiat, hic id impedit iure necessitatibus numquam perspiciatis quaerat sint, temporibus totam veritatis voluptatem.
        a(href='#').b-item__btn Read More >>
