section.portfolio
  h2.portfolio__title.sec-title Recent works
  p.portfolio__text It has survived not only five centuries, but also the leap scrambled it to make a type.
  .divider.portfolio__divider
    span
  .portfolio__cat
    a(href="#").portfolio__cat-link All
    | /
    a(href="#").portfolio__cat-link Print design
    | /
    a(href="#").portfolio__cat-link Animation
    | /
    a(href="#").portfolio__cat-link Art
    | /
    a(href="#").portfolio__cat-link Web design
    | /
    a(href="#").portfolio__cat-link Photography
    | /
    a(href="#").portfolio__cat-link Video
  .portfolio__block
    .portfolio__elem
      a(href="#", title="title").portfolio__link
        img(src="assets/images/img1.jpg").portfolio__img
        p
          span T-SHIRT DESIGN
          span art / t-szzhirt
    .portfolio__elem
      a(href="#", title="title").portfolio__link
        img(src="assets/images/img2.jpg").portfolio__img
        p
          span T-SHIRT DESIGN
          span art / t-szzhirt
    .portfolio__elem
      a(href="#", title="title").portfolio__link
        img(src="assets/images/img3.jpg").portfolio__img
        p
          span T-SHIRT DESIGN
          span art / t-szzhirt
    .portfolio__elem
      a(href="#", title="title").portfolio__link
        img(src="assets/images/img4.jpg").portfolio__img
        p
          span T-SHIRT DESIGN
          span art / t-szzhirt
    .portfolio__elem
      a(href="#", title="title").portfolio__link
        img(src="assets/images/img5.jpg").portfolio__img
        p
          span T-SHIRT DESIGN
          span art / t-szzhirt
    .portfolio__elem
      a(href="#", title="title").portfolio__link
        img(src="assets/images/img6.jpg").portfolio__img
        p
          span T-SHIRT DESIGN
          span art / t-szzhirt
    .portfolio__elem
      a(href="#", title="title").portfolio__link
        img(src="assets/images/img7.jpg").portfolio__img
        p
          span T-SHIRT DESIGN
          span art / t-szzhirt
    .portfolio__elem
      a(href="#", title="title").portfolio__link
        img(src="assets/images/img8.jpg").portfolio__img
        p
          span T-SHIRT DESIGN
          span art / t-szzhirt