section.sec-advant#one
  .wrap.sec-advant__block
    .sec-advant__elem
      .sec-advant__icon
        +icon('icon2')
      p.sec-advant__title Sleek Design
      p.sec-advant__text Corrupti magni eum ipsa, perferendis libero nam quas error quaerat dolores delectus omnis, tempora quis quisquam mollitia dolorum sapiente rerum quia earum.
    .sec-advant__elem
      .sec-advant__icon
        +icon('icon3')
      p.sec-advant__title Clean Code
      p.sec-advant__text Corrupti magni eum ipsa, perferendis libero nam quas error quaerat dolores delectus omnis, tempora quis quisquam mollitia dolorum sapiente rerum quia earum.
    .sec-advant__elem
      .sec-advant__icon
        +icon('icon4')
      p.sec-advant__title Creative Ideas
      p.sec-advant__text Corrupti magni eum ipsa, perferendis libero nam quas error quaerat dolores delectus omnis, tempora quis quisquam mollitia dolorum sapiente rerum quia earum.
    .sec-advant__elem
      .sec-advant__icon
        +icon('icon5')
      p.sec-advant__title Free Support
      p.sec-advant__text Corrupti magni eum ipsa, perferendis libero nam quas error quaerat dolores delectus omnis, tempora quis quisquam mollitia dolorum sapiente rerum quia earum.
