section.stats
  .wrap.stats__block
    .stats__elem
      .stats__circle
        +icon('icon3')
      p.stats__number 3891
      p.stats__text User Favourites
    .stats__elem
      .stats__circle
        +icon('icon9')
      p.stats__number 281k
      p.stats__text Posts Last 24 Hours
    .stats__elem
      .stats__circle
        +icon('icon10')
      p.stats__number 618
      p.stats__text Total Posts
    .stats__elem
      .stats__circle
        +icon('icon11')
      p.stats__number 178
      p.stats__text Campaigns
    .stats__elem
      .stats__circle
        +icon('icon12')
      p.stats__number 285
      p.stats__text Amazing Features
