section.case
  .wrap
    h2.case__title.center-title Case Study
    p.case__text A brief story about how this process works, keep an eye till the end.
    .case__divider.divider
      span
    .case__block
      .case__left.ideas
        .ideas__icon
          +icon('icon4')
        h3.ideas__title Accumulate creative ideas
        p.ideas__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque dolore reiciendis doloremque exercitationem dicta, nulla aperiam corrupti illum vitae, quos adipisci quis ea tempora quisquam sint assumenda delectus soluta fugiat!
        a(href="#").ideas__btn Read more
      .case__right
        img(src="assets/images/case-study.jpg").case__img
