section.price#pricing
  .wrap
    h2.price__title.center-title Our Pricing
    p.price__text A 30 days free trial for all. A brief story about how this process works, keep an eye till the end.
    .divider.price__divider
      span
    .price__block
      .price__elem
        .price__top
          p.price__name Starter
        .price__bottom
          .price__number
            p.price__value $19 #[span per month]
          ul.price__list
            li Competition Analysis Methods
            li All Ranked URLs
            li International Support System
            li Social Media Tracking
          a(href="#").price__btn Choose plan
      .price__elem.price__elem--red
        .price__top
          p.price__name Premium
        .price__bottom
          .price__number
            p.price__value $39 #[span per month]
          ul.price__list
            li Competition Analysis Methods
            li All Ranked URLs
            li International Support System
            li Social Media Tracking
          a(href="#").price__btn Choose plan
      .price__elem
        .price__top
          p.price__name Business
        .price__bottom
          .price__number
            p.price__value $99 #[span per month]
          ul.price__list
            li Competition Analysis Methods
            li All Ranked URLs
            li International Support System
            li Social Media Tracking
          a(href="#").price__btn Choose plan