.sec-service
  .sec-service__block
    p.sec-service__title Our services
    .sec-service__elem
      p.sec-service__subtitle Web Design
      p.sec-service__text Nostrum in atque maxime consequuntur expedita corporis omnis quos repudiandae distinctio obcaecati tempora rem impedit, aspernatur fugit esse deleniti nesciunt quis cumque!
      .sec-service__icon
        +icon('icon6')
    .sec-service__elem
      p.sec-service__subtitle Print Design
      p.sec-service__text Nostrum in atque maxime consequuntur expedita corporis omnis quos repudiandae distinctio obcaecati tempora rem impedit, aspernatur fugit esse deleniti nesciunt quis cumque!
      .sec-service__icon
        +icon('icon7')
    .sec-service__elem
      p.sec-service__subtitle Photography
      p.sec-service__text Nostrum in atque maxime consequuntur expedita corporis omnis quos repudiandae distinctio obcaecati tempora rem impedit, aspernatur fugit esse deleniti nesciunt quis cumque!
      .sec-service__icon
        +icon('icon8')